.button {
  transition: 500ms;
  background-color: transparent;
  font-size: 2rem;
  line-height: 130%;
  color: $color-secondary;
  border: 2px solid $color-secondary;
  border-radius: 4.8rem;
  padding: 1.2rem 5.4rem;
  @media (min-width: $desktop-l) {
    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}