@import "../../styles/variables";

.hero {
  position: relative;
  text-align: center;
  margin: 0 0 18rem;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(10, 8, 33, 1) 50%, rgba(255, 255, 255, 0) 100%);
  }

  &__content {
    position: relative;
    padding: 3.7rem 0 0 0;

    &_animation {
      position: relative;
      width: 115rem;
      height: 110rem;
      display: inline-block;

      video, img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &_description {
      max-width: 47.4rem;
      margin: 2.7rem auto 0;

      p {
        margin: 0 0 3.8rem 0;
        font-size: 1.6rem;
        line-height: 175%;
      }
    }

    &_stars {
      position: absolute;
      top: 14.8rem;
      right: 26.4rem;
      width: 72.3rem;
      height: 68.9rem;
      mix-blend-mode: color-dodge;

      &:nth-of-type(2) {
        top: initial;
        bottom: 0;
        right: 0;
        width: 126.5rem;
        height: 30.7rem;
      }
    }
  }
}

@media (max-width: $mob) {
  .hero {
    margin: 0 0 16rem;

    &__content {
      padding: 14.1rem 0 0 0;
      &_animation {
        width: auto;
        height: 36.2rem;
      }

      &_description {
        p {
          font-size: 1.4rem;
          line-height: 170%;
        }
      }

      &_stars {
        top: 0;
        right: 0;
        width: 29.3rem;
        height: 27.9rem;

        &:nth-of-type(2) {
          display: none;
        }
      }
    }
  }
}

