html {
  font-size: calc(100vw / 1440 * 10);

  @media (max-width: $mob) {
    font-size: calc(100vw / 360 * 10);
  }

  @media (min-width: $desktop-xl) {
    font-size: 10px;
  }
}

body {
  background-color: $color-fon;
  background-image: url("/images/noise.png");
  background-repeat: repeat;
  background-size: 5rem 5rem;
}

img {
  max-width: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 144rem;
  padding: 0 6.4rem;
  margin: 0 auto;

  @media (max-width: $mob) {
    padding: 0 2.4rem;
  }
}

.curtain {
  position: absolute;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  &-top{
    top: 0;
  }
  &-bottom{
    bottom: 0;
  }
}

.nav-link {
  a {
    color: $color-secondary;
    @media (min-width: $desktop-l) {
      &:hover {
        text-decoration: underline;
        text-decoration-color: $color-secondary;
        text-underline-offset: 0.5rem;
      }
    }
  }
}