@import "../../styles/variables.scss";

.header {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 3.1rem 0rem;

  &.active {
    .header {
      &__content {
        &_burger {
          span {
            &:nth-child(1) {
              top: 50%;
              transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
            }

            &:nth-child(2) {
              left: -10px;
              opacity: 0;
            }

            &:nth-child(3) {
              bottom: 50%;
              transform: translateX(-50%) translateY(50%) rotateZ(-45deg);
            }
          }
        }

        .menu {
          max-height: 100%;
          height: 100%;
        }
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &_text {
      font-weight: 500;
      color: $color-secondary;
      font-size: 2.4rem;
      line-height: 120%;
      font-family: "EBGaramond";
    }

    &_logo {
      position: relative;
      z-index: 2;
      width: 4.2rem;
      height: 3.4rem;
    }

    &_burger {
      position: relative;
      z-index: 2;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      background-color: $color-secondary;

      span {
        position: absolute;
        transition: 500ms;
        left: 50%;
        width: 1.6rem;
        height: 0.2rem;
        border-radius: 7px;
        background-color: $color-primary;
        transform: translateX(-50%);

        &:nth-child(1) {
          top: 1rem;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
        }

        &:nth-child(3) {
          bottom: 1rem;
        }
      }
    }

    &_links {
      a + a {
        margin: 0 0 0 1.4rem;
      }
    }

    .menu {
      position: fixed;
      text-align: center;
      top: 0;
      width: 100vw;
      left: 0;
      overflow-y: auto;

      &__wrapper {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          z-index: 2;
          width: 100vw;
          height: 12.7rem;
          bottom: -12.7rem;
          left: 0;
          background-image: url("/images/curtain-top-mob.svg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &_container {
          overflow: hidden;
          background-color: $color-primary;
          padding: 0 2.4rem;

          .list {
            > ul {
              padding: 14.7rem 0 0 0;
              margin: 0 0 9.5rem 0;

              li {
                margin: 0 0 2.4rem 0;

                &:last-child {
                  margin: 0;
                }

                a {
                  font-size: 2.4rem;
                  line-height: 120%;
                  font-family: "EBGaramond";
                  color: $color-secondary;
                }
              }
            }

            > ul + a{
              margin: 0 0 5.5rem 0;
            }

          }

          p {
            padding: 0 0 5rem 0;
          }
        }
      }
    }
  }
}

@media (max-width: $mob) {
  .header {
    padding: 1.5rem 0 5.1rem;

    &__content {
      align-items: center;
    }
  }
}
