@import "../../styles/variables.scss";

.footer {
  position: relative;
  z-index: 10;
  padding: 23.4rem 0 2.7rem;

  &:before, &:after {
    content: '';
    position: absolute;
    bottom: 0;
    opacity: .4;
    height: 48.5rem;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:before {
    left: 0;
    width: 36rem;
    background-size: 36rem 48.5rem;
    background-image: url("/images/footer/girl.svg");
  }

  &:after {
    right: 0;
    width: 37.9rem;
    background-size: 37.9rem 48.5rem;
    background-image: url("/images/footer/boy.svg");
  }

  &__content {
    text-align: center;

    h2, p, a {
      color: $color-secondary;
    }

    &_top {
      > a {
        display: inline-block;
        margin: 0 0 2rem 0;

        img {
          height: 5.2rem;
          width: auto;
        }
      }

      h2 {
        margin: 0 0 2.4rem 0;
      }

      ul {
        display: flex;
        justify-content: center;
        margin: 0 0 4.8rem 0;

        li {
          margin: 0 3.2rem 0 0;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    &_bottom {
      margin: 6.9rem 0 0 0;

      ul {
        display: flex;
        justify-content: center;
        margin: 0 0 8px 0;

        li {
          margin: 0 1.6rem 0 0;

          a {
            font-family: 'Inter';
            font-size: 1.2rem;
            line-height: 175%;
          }

          &:last-child {
            margin: 0;
          }
        }
      }

      p {
        font-size: 1.2rem;
        line-height: 175%;
      }
    }
  }
}