@import "../../styles/variables.scss";

.footer {
  position: relative;
  overflow: hidden;
  z-index: 10;
  padding: 23.4rem 0 2.7rem;

  &:before, &:after {
    content: '';
    position: absolute;
    opacity: .4;
    width: 43.7rem;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:before {
    left: -8rem;
    bottom: -15rem;
    height: 63.4rem;
    background-size: 43.7rem 63.4rem;
    background-image: url("/images/footer/girl.svg");
  }

  &:after {
    right: -6rem;
    bottom: -19rem;
    height: 67.7rem;
    background-size: 47.7rem 67.7rem;
    background-image: url("/images/footer/boy.svg");
  }

  &__content {
    position: relative;
    z-index: 2;
    text-align: center;

    h2, p {
      color: $color-secondary;
    }

    &_top {
      margin: 0 0 6.9rem 0;

      .logo {
        display: inline-block;
        margin: 0 0 2rem 0;

        img {
          height: 5.2rem;
          width: auto;
        }
      }

      h2 {
        margin: 0 0 2.4rem 0;
      }

      ul {
        display: flex;
        justify-content: center;
        margin: 0 0 4.8rem 0;

        li {
          margin: 0 3.2rem 0 0;

          a{
            font-size: 1.6rem;
            line-height: 175%;
          }

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: $mob) {
  .footer {
    padding: 10.2rem 0 2.2rem;

    &:before {
      left: -31rem;
      bottom: -8rem;
    }

    &:after {
      right: -30rem;
      bottom: -7rem;
    }

    &__content {
      &_top {
        margin: 0 0 7.5rem 0;

        h2 {
          font-size: 3.2rem;
          margin: 0 0 5.6rem 0;
        }

        ul {
          flex-direction: column;
          margin: 0 0 5.9rem 0;

          li {
            margin: 0 0 2.4rem 0;

            a {
              font-size: 1.6rem;
              line-height: 175%;
            }
          }
        }
      }
    }
  }
}