@import "../../styles/variables.scss";

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 12;
  top: 0;
  left: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  @media (max-width: $mob) {
    display: none;
  }

  svg {
    width: 32px;
    height: 32px;
  }
}